
@{
    ViewBag.Title = "Add";
}
@model ML.Cliente
<h2>Add Cliente</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Cliente</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using(Html.BeginForm("Registro", "Cliente", FormMethod.Post))
            {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Nombre del cliente</label>
                        @Html.TextBoxFor(model => model.NombreC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NombreC)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>RFC del cliente</label>
                        @Html.TextBoxFor(model => model.Rfc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rfc)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Agregar Cliente" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "GetAllCliente", "Cliente", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
    </div>
</div>