@model ML.Cliente
@{
    ViewBag.Title = "GetAllCliente";
}

<h2>GetAllCliente</h2>

<div class="container">
    <div class="row">
        <div style="float:right; margin-bottom: 1rem;">
            @Html.ActionLink("Nuevo Cliente", "Add", "Cliente", htmlAttributes: new { @class="btn btn-success"})
        </div>

        <table class="table table-bordered table-responsive table-responsive">
            <thead>
                <tr>
                    <td>Modificar</td>
                    <td>IdCliente</td>
                    <td>Nombre Cliente</td>
                    <td>RFC</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach(ML.Cliente client in Model.Clientes)
                {
                <tr>
                    <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Update", "Cliente", new { Id = client.IdCliente })"></a></td>
                    <td>@client.IdCliente</td>
                    <td>@client.Nombre</td>
                    <td>@client.Rfc</td>
                    <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Cliente", new { IdCliente = client.IdCliente})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');" ;></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
