@model ML.Cliente
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="container">
    <div class="row">
        <h2>Cliente</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using(Html.BeginForm("Actualizar", "Cliente", FormMethod.Post))
            {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.IdCliente, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.IdCliente, new { @class = "form-control", @type = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.NombreC, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.NombreC, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Rfc, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Rfc, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" value="Modificar" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>