@model ML.Producto

@{
    ViewBag.Title = "GetAllProducto";
}

<h2>Productos</h2>
<div class="container">
    <div class="row">
        <div style="float:right; margin: 1rem;">
            @Html.ActionLink("+", "Form", "Producto", htmlAttributes: new { @class="btn btn-success"})
        </div>
    </div>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <td>Modificar</td>
                <td>IdProducto</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Departamento</td>
                <td>Proveedor</td>
                <td>Image</td>
                <td>Eliminar</td>
            </tr>
        </thead>
        <tbody>
            @foreach(ML.Producto producto in Model.Productos)
            {
            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Producto", new { IdProducto = producto.IdProducto })"></a></td>
                <td>@producto.IdProducto</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td>@producto.Departamento.Nombre</td>
                <td>@producto.Proveedor.Nombre</td>
                <td>@producto.Image</td>
                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Producto", new { IdProducto = producto.IdProducto})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');" ;></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
